* {
    margin: 0;
}
.App {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(100, 97, 97);
    flex-direction: column;
    height: 700px;
}
.canvasDiv {
    background-color: rgba(152, 180, 152, 0.8);
    box-shadow: 7px 7px 4px black;
}